# Part 3C - Rental Price Prediction (Remove Several Amenities)
 
### Content  
- [Section 1 - Data Pre-processing](#section-1)  
- [Section 2 - Modeling - XGBoost Regressor](#section-2)  
- [Section 3 - Modeling - LightGBM Regressor](#section-3)

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter

from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestRegressor

import xgboost as xgb
import lightgbm as lgb
from catboost import Pool, CatBoostRegressor

In [11]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
import warnings
warnings.filterwarnings("ignore")

___
<a name="section-1"></a>
## (i) Data Pre-Processing

In [13]:
condo_df = pd.read_csv('./Data/condo_dataset_preprocessed.csv')

#### Drop unnecessary columns

In [14]:
condo_df.columns

Index(['amenities', 'beds', 'developer', 'district', 'electoral_div', 'lease',
       'name', 'nearest_mrt_name', 'neighbourhood', 'property_type', 'rental',
       'sqft', 'tenure', 'travel_time_changi', 'travel_time_orchard',
       'travel_time_raffles', 'furnishing', 'amenities_count',
       'nearest_mrt_dist_min', 'nearest_mrt_dist_metres', 'freehold_status',
       'rental_log'],
      dtype='object')

In [15]:
cols_to_drop = ['name','beds','developer','electoral_div','neighbourhood','rental','nearest_mrt_name','property_type',
               'amenities_count','nearest_mrt_dist_min','nearest_mrt_dist_metres','furnishing','tenure','freehold_status']

In [16]:
condo_df_sm = condo_df.drop(columns = cols_to_drop)
condo_df_sm.head()

,amenities,district,lease,sqft,travel_time_changi,travel_time_orchard,travel_time_raffles,rental_log
0,"'Clubhouse', 'Gym', 'Spa Pool', 'Swimming Pool...",D09,Flexible,2100,53,12,16,9.159047
1,"'Aircon', 'Gym', 'Swimming Pool', 'Wading Pool...",D09,Flexible,1399,56,12,13,8.853665
2,"'Bathtub', 'Aircon', 'Maid Room', 'Gym', 'Park...",D05,greater_than_or_equal_24m,1948,70,27,22,8.732305
3,"'Jogging Track', 'Multi-purpose Hall', 'Hammoc...",D22,Flexible,775,85,46,39,7.937375
4,"'Security', 'Jacuzzi', 'Lap Pool', 'Tennis Cou...",D15,Flexible,635,46,41,34,7.783224

#### Generate amenities of interest

In [17]:
list_of_amenities = []
for i in condo_df_sm['amenities']:
    for j in i.split(', '):
        list_of_amenities.append(j)
list_of_amenities = [x.replace("'","") for x in list_of_amenities]

In [18]:
# Value counts of amenities
amenities_df = pd.DataFrame.from_dict(Counter(list_of_amenities), orient='index').reset_index()
amenities_df.rename(columns={'index':'amenities', 0:'count'}, inplace = True)
amenities_df['percentage'] = round(100 * (amenities_df['count'] / condo_df_sm['rental_log'].describe()[0]),1)
amenities_df.sort_values(['count'], ascending = False).set_index('amenities')

                            count  percentage
amenities
Gym                          5661        77.4
Security                     5419        74.1
Parking                      5187        70.9
BBQ                          4944        67.6
Swimming Pool                4590        62.8
Playground                   4165        57.0
Jacuzzi                      3663        50.1
Aircon                       3580        49.0
Clubhouse                    3483        47.6
Wading Pool                  3396        46.4
Tennis Court                 3343        45.7
Fridge                       3205        43.8
Washer                       2919        39.9
Lap Pool                     2895        39.6
Fitness Corner               2530        34.6
Oven                         2026        27.7
Balcony                      1995        27.3
Stove                        1962        26.8
Pool Deck                    1816        24.8
Bed                          1742        23.8
Dryer                        1656        22.6
Steam Room                   1639        22.4
High Floor                   1567        21.4
Sauna                        1459        20.0
Closet                       1447        19.8
Sofa                         1335        18.3
Renovated                    1299        17.8
City View                    1267        17.3
Dining Room Furniture        1232        16.8
Function Room                1227        16.8
TV                           1202        16.4
Water Feature                1174        16.1
Fibre Ready                  1154        15.8
Bathtub                      1092        14.9
Lounge                        984        13.5
Greenery View                 942        12.9
Hydrotherapy Pool             931        12.7
Spa Pool                      858        11.7
Outdoor Dining                820        11.2
Pavilion                      737        10.1
Bomb Shelter                  676         9.2
Fun Pool                      672         9.2
Squash Court                  626         8.6
Jogging Track                 609         8.3
High Ceiling                  575         7.9
Yoga Corner                   540         7.4
Pool View                     540         7.4
Maid Room                     535         7.3
Utility Room                  514         7.0
Walk In Closet                500         6.8
Basketball Court              473         6.5
Study Room                    466         6.4
Sky Terrace                   461         6.3
Spa Pavilion                  458         6.3
Games Room                    454         6.2
Pond                          443         6.1
Mid Floor                     397         5.4
Retail Shops                  367         5.0
Dishwasher                    362         5.0
Reflexology Path              359         4.9
Low Floor                     356         4.9
Mini Golf Range               345         4.7
Viewing Deck                  341         4.7
Open Terrace                  331         4.5
Jet Pool                      314         4.3
Timber Deck                   279         3.8
Underwater Fitness Station    270         3.7
Karaoke                       256         3.5
Sea View                      255         3.5
Multi-purpose Hall            252         3.4
Hammocks                      227         3.1
Waterfall                     214         2.9
Concierge                     193         2.6
Infinity Pool                 192         2.6
                              181         2.5
Fountain                      169         2.3
Penthouse                     163         2.2
Aerobic Pool                  155         2.1
Sculpture                     150         2.1
Patio / PES                   150         2.1
Audio System                  149         2.0
Duplex / Maisonette           148         2.0
Ground Floor                  147         2.0
Loft                          126         1.7
Sky Lounge                    104         1.4
Top Floor                     101         1.4
Rooftop Pool                   94         1.3
Roof Terrace                   94         1.3
Bridge                         87         1.2
Badminton Court                84         1.1
Billiards Room                 80         1.1
Library                        73         1.0
Dual Key                       67         0.9
Water Channel                  64         0.9
Mini-mart                      57         0.8
Amphitheatre                   52         0.7
Bowling Alley                  41         0.6
Adventure Park                 35         0.5
Meeting Room                   29         0.4
Driving Range                  28         0.4
Wine and Cigar Room            27         0.4
Attached Bathroom              21         0.3
Retail                         11         0.2
Couch                           9         0.1
Garden                          6         0.1
Wireless Internet               4         0.1
Launderette                     3         0.0
Corner Unit                     1         0.0

In [19]:
# Identify the amenities that will likely impact rental price (based on own assumptions and business understanding)
# Remove Balcony, Sauna, Steam Room
# Include High Ceiling
key_amenities = ['High Floor','Renovated','City View','Greenery View', 'High Ceiling', 'Sauna', 'Steam Room']

In [20]:
# Create one-hot encoded column for each amenity
condo_df_with_amenities = condo_df_sm.copy()

for amenity in key_amenities:
    amenity_name = amenity.lower().replace(' ','_')
    condo_df_sm[f'{amenity_name}'] = condo_df_sm['amenities'].str.contains(f'{amenity}')*1 # Multiply by 1 to convert boolean into integer

In [21]:
# Drop original amenities column
condo_df_sm.drop(columns = ['amenities'], inplace = True)

___
<a name="section-2"></a>
## (ii) Modeling - XGBoost Regressor

In [22]:
condo_df = condo_df_sm.copy()

# One-hot encoding of categorical variables
condo_df = pd.get_dummies(condo_df, columns = ['district'], drop_first = False) 
condo_df = pd.get_dummies(condo_df, columns = ['lease'], drop_first = False) 

# Separate dependent(target) variable and independent variables
X = condo_df.drop(['rental_log'], axis = 1)
y = condo_df['rental_log']

# Perform train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [23]:
xgb_param_grid = {'colsample_bytree': [0.4,0.5,0.6,0.7,0.8],
                  'learning_rate' : [0.01,0.1,0.3],
                  'max_depth': [3,4,5,6], 
                  'alpha': [1e-5, 1e-2, 0.1, 1, 100], 
                  'n_estimators':[200]
}

In [24]:
xgb_reg = xgb.XGBRegressor(seed = 42, objective ='reg:squarederror')

xgb_reg_grid = GridSearchCV(estimator = xgb_reg, param_grid = xgb_param_grid, cv=5, n_jobs=-1, verbose=1) 

xgb_reg_grid.fit(X_train, y_train)

Fitting 5 folds for each of 300 candidates, totalling 1500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    9.3s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   39.3s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 1500 out of 1500 | elapsed:  5.6min finished

GridSearchCV(cv=5,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=...
                                    num_parallel_tree=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, seed=42,
                                    subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'alpha': [1e-05, 0.01, 0.1, 1, 100],
                         'colsample_bytree': [0.4, 0.5, 0.6, 0.7, 0.8],
                         'learning_rate': [0.01, 0.1, 0.3],
                         'max_depth': [3, 4, 5, 6], 'n_estimators': [200]},
             verbose=1)

In [25]:
xgb_reg_grid.best_params_

{'alpha': 0.1,
 'colsample_bytree': 0.8,
 'learning_rate': 0.3,
 'max_depth': 6,
 'n_estimators': 200}

In [26]:
best_xgb_reg = xgb_reg_grid.best_estimator_
y_pred_test = best_xgb_reg.predict(X_test)

In [27]:
# Store results as dataframe
xgb_dict = {'Model':'XGBoost Regressor',
          'R^2':metrics.r2_score(y_test, y_pred_test),
          'Adjusted R^2':(1 - (1-metrics.r2_score(y_test, y_pred_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)),
          'MAE':metrics.mean_absolute_error(y_test, y_pred_test),
          'MSE':metrics.mean_squared_error(y_test, y_pred_test),
          'RMSE':np.sqrt(metrics.mean_squared_error(y_test, y_pred_test))}

xgb_metrics = pd.DataFrame.from_dict(xgb_dict, orient = 'index').T
xgb_metrics

               Model       R^2 Adjusted R^2        MAE        MSE      RMSE
0  XGBoost Regressor  0.937192      0.93538  0.0841628  0.0179917  0.134133

#### Feature Importance

In [28]:
xgb_features = pd.DataFrame([X_train.columns, best_xgb_reg.feature_importances_]).T
xgb_features = xgb_features.rename(columns={0: 'Feature', 1: 'Importance Score'})
xgb_features.sort_values(by = 'Importance Score', ascending = False).head(15)

                Feature Importance Score
0                  sqft         0.320054
14         district_D04        0.0837194
2   travel_time_orchard         0.061716
30         district_D20        0.0457846
3   travel_time_raffles         0.043607
20         district_D10        0.0423329
12         district_D02        0.0370436
16         district_D06        0.0286189
17         district_D07        0.0279514
19         district_D09        0.0272155
31         district_D21        0.0271273
1    travel_time_changi        0.0255053
21         district_D11         0.022613
34         district_D25        0.0207087
22         district_D12        0.0175164

___
<a name="section-3"></a>
## (iii) Modeling - LightGBM Regressor

In [29]:
condo_df = condo_df_sm.copy()

# One-hot encoding of categorical variables
condo_df = pd.get_dummies(condo_df, columns = ['district'], drop_first = False) 
condo_df = pd.get_dummies(condo_df, columns = ['lease'], drop_first = False) 

# Separate dependent(target) variable and independent variables
X = condo_df.drop(['rental_log'], axis = 1)
y = condo_df['rental_log']

# Perform train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [30]:
gbm_param_grid = {'boosting_type': ['gbdt'],
                  'objective': ['regression'],
                  'metric': ['rmse'],
                  'max_depth': [4,6,8,9,10,11,12], 
                  'learning_rate': [0.001,0.01,0.05,0.1,0.2]}

In [31]:
light_gbm_reg = lgb.LGBMRegressor(seed = 42, num_iterations = 1000)

light_gbm_grid = GridSearchCV(estimator = light_gbm_reg, param_grid = gbm_param_grid, cv=5, n_jobs=-1, verbose=1) 

light_gbm_grid.fit(X_train, y_train)

Fitting 5 folds for each of 35 candidates, totalling 175 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   44.4s
[Parallel(n_jobs=-1)]: Done 175 out of 175 | elapsed:  2.9min finished

[LightGBM] [Warning] Accuracy may be bad since you didn't set num_leaves and 2^max_depth > num_leaves

GridSearchCV(cv=5, estimator=LGBMRegressor(num_iterations=1000, seed=42),
             n_jobs=-1,
             param_grid={'boosting_type': ['gbdt'],
                         'learning_rate': [0.001, 0.01, 0.05, 0.1, 0.2],
                         'max_depth': [4, 6, 8, 9, 10, 11, 12],
                         'metric': ['rmse'], 'objective': ['regression']},
             verbose=1)

In [32]:
light_gbm_grid.best_params_

{'boosting_type': 'gbdt',
 'learning_rate': 0.1,
 'max_depth': 11,
 'metric': 'rmse',
 'objective': 'regression'}

In [33]:
best_light_gbm = light_gbm_grid.best_estimator_
y_pred_test = best_light_gbm.predict(X_test)

In [34]:
# Store results as dataframe
lgbm_dict = {'Model':'LightGBM Regressor',
          'R^2':metrics.r2_score(y_test, y_pred_test),
          'Adjusted R^2':(1 - (1-metrics.r2_score(y_test, y_pred_test))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)),
          'MAE':metrics.mean_absolute_error(y_test, y_pred_test),
          'MSE':metrics.mean_squared_error(y_test, y_pred_test),
          'RMSE':np.sqrt(metrics.mean_squared_error(y_test, y_pred_test))}

lgbm_metrics = pd.DataFrame.from_dict(lgbm_dict, orient = 'index').T
lgbm_metrics

                Model       R^2 Adjusted R^2        MAE        MSE      RMSE
0  LightGBM Regressor  0.934388     0.932495  0.0860068  0.0187948  0.137094

#### LightGBM Regressor Feature Importance

In [35]:
lgb_features = pd.DataFrame([X_train.columns, best_light_gbm.feature_importances_]).T
lgb_features = lgb_features.rename(columns={0: 'Feature', 1: 'Importance Score'})
lgb_features.sort_values(by = 'Importance Score', ascending = False).head(15)

                            Feature Importance Score
0                              sqft            10492
1                travel_time_changi             4917
2               travel_time_orchard             4388
3               travel_time_raffles             4091
10                       steam_room              549
9                             sauna              499
38                   lease_Flexible              408
4                        high_floor              385
5                         renovated              347
6                         city_view              312
19                     district_D09              300
39  lease_greater_than_or_equal_24m              231
7                     greenery_view              178
20                     district_D10              177
14                     district_D04              172

### Model Comparison

In [36]:
df_metrics = pd.concat([xgb_metrics, lgbm_metrics])
df_metrics.sort_values(by = 'RMSE', ascending = True)

                Model       R^2 Adjusted R^2        MAE        MSE      RMSE
0   XGBoost Regressor  0.937192      0.93538  0.0841628  0.0179917  0.134133
0  LightGBM Regressor  0.934388     0.932495  0.0860068  0.0187948  0.137094

Models with full features (in Part 3 notebook) still performs better